socless-playbooks/playbooks/investigate_login/playbook.json
{
    "Playbook": "InvestigateLogin",
    "Comment": "Playbook to investigate a login",
    "StartAt": "Geolocate_IP",
    "States": {
        "Geolocate_IP": {
            "Type": "Task",
            "Resource": "${{self:custom.tutorial.GeoIP}}",
            "Parameters": {
                "ip": "$.artifacts.event.details.ip"
            },
            "Next": "Notify_Bat_Signals_Channel"
        },
        "Notify_Bat_Signals_Channel": {
            "Type": "Task",
            "Resource": "${{self:custom.tutorial.SendMessage}}",
            "Parameters": {
                "target": "bat-signals",
                "target_type": "channel",
                "message_template": "`{context.artifacts.event.details.username}` logged in from `{context.results.Geolocate_IP.country}` at coordinates `{context.results.Geolocate_IP.latitude}`, `{context.results.Geolocate_IP.longitude}`"
            },
            "Next": "Verify_Login_With_User"
        },
        "Verify_Login_With_User": {
            "Type": "Interaction",
            "Resource": "${{self:custom.slack.PromptForConfirmation}}",
            "Parameters": {
                "target": "$.artifacts.event.details.username",
                "target_type": "user",
                "text": "Hi {context.artifacts.event.details.username}, I noticed that your account was logged into from {context.results.Geolocate_IP.country}",
                "prompt_text": "Did you login from {context.results.Geolocate_IP.country}?"
            },
            "Next": "Did_User_Login"
          },
        "Did_User_Login": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.results.Verify_Login_With_User.actions.value",
                "StringEquals": "true",
                "Next": "Thank_User"
              },
              {
                "Variable": "$.results.Verify_Login_With_User.actions.value",
                "StringEquals": "false",
                "Next": "Request_More_Info"
              }
            ]
        },
        "Thank_User": {
            "Type": "Task",
            "Resource": "${{self:custom.slack.SendMessage}}",
            "Parameters": {
              "target": "$.artifacts.event.details.username",
              "target_type": "user",
              "message_template": "Thanks for the confirmation! I'll let the security team know everything is fine"
            },
            "End": true
        },
        "Reassure_User": {
            "Type": "Task",
            "Resource": "${{self:custom.slack.SendMessage}}",
            "Parameters": {
              "target": "$.artifacts.event.details.username",
              "target_type": "user",
              "message_template": "Oh oh. Seems like something is amiss here. I'll inform the security team immediately"
            },
            "End": true
        },
        "Request_More_Info": {
            "Type": "Interaction",
            "Resource": "${{self:custom.slack.SendDialog}}",
            "Parameters": {
              "trigger_id": "$.results.Verify_Login_With_User.trigger_id",
              "title": "Tell Us More",
              "elements": [
                {
                  "label": "When was your last login?",
                  "name": "additional_info",
                  "optional": false,
                  "placeholder": "My last log in was at ... from ....",
                  "type": "text"
                }
              ]
            },
            "Next": "Did_User_Submit_Dialog"
        },
        "Did_User_Submit_Dialog": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.results.Request_More_Info.type",
                "StringEquals": "dialog_submission",
                "Next": "Reassure_User"
              },
              {
                "Variable": "$.results.Request_More_Info.type",
                "StringEquals": "dialog_cancellation",
                "Next": "Update_Bat_Signals_Channel"
              }
            ]
        },
        "Update_Bat_Signals_Channel": {
            "Type": "Task",
            "Resource": "${{self:custom.slack.SendMessage}}",
            "Parameters": {
              "target": "bat-signals",
              "target_type": "channel",
              "message_template": "User, {context.artifacts.event.details.username}, reported that they did not log into their account but also failed to provide additional details via the dialog. Please investigate."
            },
            "End": true
        }
    }
}
